<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mb-3 mt-5">
      <h2 class="text-center" style="color: turquoise;">
        Extra Curricular activities
      </h2>
      <hr style="border-bottom: 1px solid #ffc0cb;"/>
    </div>
  </div>
  <div class="col-lg-12 text-center" style="padding-bottom: 30px;">
    <p>

      We have introduced a few Extra Curricular Activities to our program – please contact us for details on
      registration etc.
    </p>
    <p>
      The other is Creative Art which is once a month and different to the art activities presented at school. The
      children use many wooden materials and go home with an item which has sentimental value to be used at home.
    </p>
    <p>
      Parents have option of other extra curricular activities such as Kinderkinetics which refers to the movement or
      stimulation of movement in the child.
    </p>
    <p>
      Point ballet for girls, and Do Re Me Music
    </p>
  </div>
</div>


