<nav>
  <div id="top-bar" class="top-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-4 float-left">
            <a
           class="contact"

              href="tel:{{store.telephone}}"
            ><fa-icon
                style="margin-right: 10px;"
                [icon]="faPhone"
              ></fa-icon
              >{{store.telephone}}</a
            >

          <a class="contact" href="mailto:{{store.email}}">
            <fa-icon style="margin-right: 10px;" [icon]="faEnvelope"></fa-icon>Email Us</a>
          </div>
          <div class="social mr-5 col-4 text-right float-right">
            <a
            href="https://wa.me/27834607816?text=Hello%20Adrienne%20From%20%20Twinkle%20Kidz" target="_blank">
              <fa-icon style="margin-right: 10px; color:#FFFFFF;"[icon]="faWhatsapp"></fa-icon>
            </a>
            <a class="social "
            href="https://www.facebook.com/Twinkle-Kidz-Preschool-356237001202405/?fref=nf"
            target="_blank">
            <fa-icon style="margin-right: 10px; color:#FFFFFF" [icon]="faFacebook"></fa-icon>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="navi" class="navbar  navbar-expand-lg navbar-light bg-pink ">
    <div class="desktoplogo">
      <img style="height: 55px;filter: brightness(0) invert(1);" src="assets/img/logo/logoTwinkleKidz.png"  />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  navigation" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link text-white" (click)= "ToggleNavBar()" routerLink="/">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link text-white" (click) = "ToggleNavBar()" routerLink="/about-us">About Us</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a

          class="nav-link text-white dropdown-toggle mr-md-2"
            data-toggle="dropdown"
            aria-expanded="false"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Services</a
          >
          <div class="dropdown-menu dropdown-menu-right" >
            <a class="dropdown-item text-secondary" (click) = "ToggleNavBar()" routerLink="/after-care"
              >After Care</a>
            <a class="dropdown-item text-secondary" (click) = "ToggleNavBar()"routerLink="/programs"
              >Programs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-secondary" (click) = "ToggleNavBar()" routerLink="/curriculum">Curriculum</a>
            <a class="dropdown-item text-secondary"
              routerLink="/extra-activities"
              (click) = "ToggleNavBar()">Extra Activities</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a (click) = "ToggleNavBar()"
            routerLink="/gallery"
            class="nav-link text-white">Gallery</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a (click) = "ToggleNavBar()"
            routerLink="/contact-us"
            class="nav-link text-white">Contact Us</a>
        </li>
      </ul>
      <div  *ngIf="isMobileLayout">
      <a style="color: #FFFFFF;" class="socialMedia"
         href="https://wa.me/27834607816?text=Hello%20Adrienne%20From%20%20Twinkle%20Kidz" target="_blank"
            >WhatsApp
            <fa-icon style="margin-right: 10px; color:#FFFFFF;background:#4FCE5D;" [icon]="['fab', 'whatsapp']"></fa-icon>
        </a>
     <a style="color: #FFFFFF;"
     class="socialMedia"
        href="https://www.facebook.com/Twinkle-Kidz-Preschool-356237001202405/?fref=nf"
        target="_blank"
      >Facebook
        <fa-icon style="margin-right: 10px; color:#3b5998;" [icon]="['fab', 'facebook']"></fa-icon
        >
      </a>

      </div>
      <div class="mr-5 justify-content-center">
        <ul class="navbar-nav ml-md-auto">
          <!-- <li class="nav-item facebook">
            <a
              class="nav-link p-2 header-texts"
              href="https://www.facebook.com/Twinkle-Kidz-Preschool-356237001202405/?fref=nf"
              target="_blank"
              aria-label="Facebook"
              ><img
                height="30"
                width="30"
                src="https://img.icons8.com/doodle/48/000000/facebook-new.png"
              />
            </a>
          </li> -->

              <a style="text-decoration: none!important;" routerLink="/registration"  (click) = "ToggleNavBar()" role="button" class="btn btn-outline-secondary">
                Online Registration
              </a>

        </ul>
      </div>
    </div>
  </div>
</nav>
