<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mb-3 mt-5">
            <h2 class="text-center" style="color: turquoise;">
               Aftercare
            </h2>
            <hr style="border-bottom: 1px solid #ffc0cb;" />
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
    <h4 style="margin-top: 30px;"> Aftercare </h4>
    <ul style="list-style: none;">
        <li>
            <p>
                Delicious home cooked meals including afternoon snacks.
            </p>
        </li>
        <li>
            <p>
                Young children will have an afternoon nap. This is not compulsory for older children.
            </p>
        </li>
        <li>
            <p>
               Hours are until 15:45pm although Fridays parents tend to collect earlier.
            </p>
        </li>
    </ul>
    <h4 style="margin-top: 30px;">Holiday Care</h4>
    <ul style="list-style: none;">
        <li>
            <p>
               We have a fun holiday programme with arts and crafts,puppet shows,baking,face painting and treasure hunts.
            </p>
        </li>
        <li>
            <p>
               Free unstructured play in our expansive gardens.
            </p>
        </li>
        <li>
            <p>
              We close over the December/January school holidays.
            </p>
        </li>
    </ul>
    <h4 style="margin-top: 30px;">Babysitting Service</h4>
    <ul style="list-style: none;">
        <li>
            <p>
              Teachers do provide baby sitting services.
            </p>
        </li>
     </ul>
</div>