<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 mb-3 mt-5">
        <h2 class="text-center" style="color: turquoise;">
          About Us
        </h2>
        <hr style="border-bottom: 1px solid #ffc0cb;" />
      </div>
    </div>
    <div class="row about-heading" style="margin-top: 30px;">
      <h2>The History of Twinkle Kidz Preschool</h2>
      <hr>
      <div class="col-md-7">
        <fa-icon class="icon text" [icon]="faQuoteLeft"></fa-icon>
        <p>Established in 2014, Twinkle Kidz Preschool provides education to the young children in Durbanville and surrounding areas
          situated near the winelands.We have consistently graduated children with a sound foundation in their
          formative years to other feeder schools in Durbanville, Cape Town & United Kingdom.
          </p>
          <p>We provide a nurturing bilingual enviroment in English and Afrikaans.Where we encourage children,respect,skills
            and values that enable them to grow into confident children.
           </p>
           <p>We do not have an entrance exam and are a fully inclusive preschool.We enrol children from 18 months
             - 6 yearsof age.
           </p>
           <p>
             We offer a variety of extra mural programs. Our education curriculm is continously reviewed to
             ensure our we have children who realise and enjoy their education to their full benefit.
           </p>
           <p>
             We welcome a visit to view our spacious classes and outdoor play area.
           </p>
      </div>
      <div class="col-md-5">
        <img   class="img-fluid" src="assets/img/slider/IMG_0696-103-min.jpg" alt="AlexSouthey">
      </div>
    </div>
  </div>
</section>
