<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mb-3 mt-5">
      <h2 class="text-center" style="color: turquoise;">
        Curriculum
      </h2>
      <hr style="border-bottom: 1px solid #ffc0cb;"/>
    </div>
  </div>
  <div class="col-lg-12 text-center" style="padding-bottom: 30px;">
    <p>
      Twinkle Kidz Preschool is an ideal learning environment for children aged 3-5. The main focus is developing each
      child holistically. We endeavour to make learning fun, whilst nurturing and building each child’s independence and
      social skills. Social skills are learnt during team activities, taking turns playing games, and during activities,
      the teacher facilitates this process.
    </p>
    <h3>Cognitive Development:</h3>
    <p>
      From ages 3-5, the main focus within cognitive development is numeracy and language. Thus there is a focus on
      maths at an elementary level, such as counting, identifying numbers, and the basic foundation of numeracy. We have
      games and activities that help facilitate the learning of numeracy skills. Language development is enhanced by
      story telling, singing and specific language focused fun games. Most of our learning experiences occur through the
      medium of play, our learning activities are fun and stimulating and help develop children’s concentration.
    </p>
    <h3>Social Development:</h3>
    <p>
      Learning social skills is of great value to any child. Preschool is one of the first social interactions children
      have with others who are not part of their family. It provides an ideal environment where children learn to
      interact with peers and develop socially and emotionally too. Children are able, through play, to learn how to
      interact with others, how to work together and how to share. </p>
    <h3>Emotional Development:</h3>
    <p>
      At Twinkle Kidz Preschool each child is given the space to be himself/herself. The teachers are all very warm, and
      attentive to the needs of the children, allowing for individual expression. Children are encouraged to be curious,
      and explore. The teachers encourage and praise the children to affirm each one of his/her abilities. The emotional
      development of each child is facilitated through play, and mastery of skills. When a child gets something right,
      and is praised this enhances their self-esteem and helps them develop. Emotional development of each child is
      further enhanced by the social development and relationships that develop between peers.
    </p>
    <h3>Portfolios:</h3>
    <p>
      Each child has his/her own portfolio. Portfolios are files which enables the teacher, and the parents to monitor
      each child’s progress. This is especially necessary in order to see if special attention needs to be given to
      certain areas. It also enables parents to engage in the learning process, and see what their children are
      learning.
    </p>
    <h3>Reports:</h3>
    <p>
      Reports for each child are issued in June and November each year.
    </p>
  </div>
</div>

