.bg-color{
    background: #ececec;
    padding: 30px 30px 30px 30px;
}

ul {
    list-style-type:circle;
    color: #6c757d;
  }
 ul li p{
     font-family: Arial, Helvetica, sans-serif;
     color: #6c757d;
     margin: 0px;
     padding: 0px;
 }

 .btn-pink{
     background-color: #ffc0cb;
     color:white;
 }
