<div class="bg-color">
<div class="container" style="margin-top:5rem">
  <div class="row featurette">
    <div class="col-md-7 wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="0.7s">
      <h2
        class="featurette-heading"
        style="color: turquoise;padding-bottom: 1rem;border-bottom: 1px solid turquoise;
      padding-bottom: 5px;"
      >
        Twinkle Kidz Preschool
        <!-- <span class="text-muted">It’ll blow your mind.</span> -->
      </h2>
      <ul style="padding-top: 20px;">
        <li><p>Hours: 07h30 – 17h00</p></li>
        <li><p>Ages: 1 year to Grade R</p></li>
        <li><p>Small intimate classroom settings</p></li>
        <li><p>Wholesome home cooked meals</p></li>
        <li><p>Exciting extra-mural activities on offer</p></li>
        <li><p>Open during school holidays</p></li>
      </ul>
      <button routerLink="/about-us" class="btn btn-md float-left btn-pink ml-4">About Us</button>
    </div>
    <div class="col-md-5  wow fadeInRight animated" data-wow-delay="0.5s" data-wow-duration="0.7s">
      <img
        style="height: 31.25rem;border-radius: 0.625rem"
        class="bd-placeholder-img  bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        data-wow-delay="0.6s"
        width="500"
        height="500"
        src="assets/img/WhatWeOffer/IMG_0425-9-min.jpg"
      />
    </div>
</div>
</div>
</div>
