<div class="container" style="margin-bottom: 4rem;">
  <div class="starter-template">
    <h1 style="color: turquoise;">Home</h1>
    <p class="lead text"> TwinkleKidz Preschool located in Tara Rd, Durbanville. Offers a warm, nurturing, relaxed and secure environment for children ages 2 to 6.
      Aftercare facilities are now also available from 12h30 – 18h00. </p></div>
  <div class="row service">
    <div class="col-md-4">
      <div class="card mb-4 shadow-lg rounded;">
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Cognitive"
             src="/assets/img/Gallery/37.jpg">
        <div class="card-body">
          <h5 style="color: turquoise;">Cognitive Development:</h5>
          <p class="card-text" >From ages 3-5, the main focus within cognitive development is numeracy and language. Thus there is a focus on maths at an elementary level, such as counting, identifying numbers, and the basic foundation of numeracy. </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" routerLink="/curriculum" class="btn btn-md btn-pink"> Read more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-lg rounded;">
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Development"
             xmlns="http://www.w3.org/2000/svg" src="/assets/img/WhatWeOffer/IMG_0852-150-min.jpg">
        <div class="card-body">
          <h5 style="color: #ffc0cb;">Emotional Development:</h5>
          <p class="card-text" style="margin-bottom: 40px">At Twinkle Kidz Preschool each child is given the space to be himself/herself. The teachers are all very warm, and attentive to the needs of the children, allowing for individual expression. </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" routerLink="/curriculum" style="background-color: turquoise; color:white;" class="btn btn-md"> Read more
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-lg rounded;">
        <img class="bd-placeholder-img card-img-top text-align-center" width="100%" height="225"
             src="/assets/img/WhatWeOffer/IMG_0823-139-min.jpg" alt="social kids">
        <div class="card-body">
          <h5 style="color:turquoise">Social Development:</h5>
          <p class="card-text" style="margin-bottom: 41px">Learning social skills is of great value to any child. Preschool is one of the first social interactions children have with others who are not part of their family.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" routerLink="/curriculum" class="btn btn-md btn-pink"> Read more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
